###########################################################
### Uber-generic .gitignore file. Edit to taste.
###########################################################

### Stuff local to this repo
### like project-specific ignores
_junk.txt


# editor and revision mgt stuff
###############################
*.esproj
*.komodoproject
*.komodotools
*.sublime-*
.bzr
.hg
.hgsvn
.idea
.svn
.tmproj
.wpr

# pythonish build and log files
###############################
*.egg
*.EGG
*.EGG-INFO
*.log
*.mo
*.o
*.out
*.pyc
*.pyo
*.tmp
*.tmp*
build
dist
downloads

# plone/zope stuff
#########################
.installed.cfg
.mr.developer.cfg
adminPassword.txt
bin
develop-eggs
eggs
fake-eggs
opt
parts/*
picked-versions.cfg
src
var/*
version_pins.cfg
WingDBG


#Apple / Mac stuff
###############################
*.app
._*
.cache
.DS_Store
.project
.settings
.Trash
PloneController.app
Thumbs.db

#crazy files
###############################
build/
junk
META
tmp/
trash

#  Binary stuff I don't usually want
#  in a repo.
####################################
*.bin
*.bzip
*.exe
*.gz
*.tar
*.tbz
*.tgz
*.zexp
*.zip

# obvious backup files
###############################
*.bak
*.orig
*~
~*

#database files
###############################
*.db
*.sqlite
Data.f*

# Misc ignorable extensions
############################
*.diff
*.err
*.log
*.orig
*.rej
*.sass-cache
*.swo
*.swp
*.vi
*~


